@use 'variables';

@mixin container {
    margin: 0 auto;
    max-width: variables.$container-max-width;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin tablet {
    @media(min-width: 540px) and (max-width: 669px) {
        @content;
    }
}

@mixin large-tablet {
    @media(min-width: 669px) and (max-width: 1025px) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 1025px) {
        @content;
    }
}