@use 'variables';

@mixin container {
    margin: 0 auto;
    max-width: variables.$container-max-width;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}