@use 'variables';
@use 'mixins';

* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: variables.$text-color;
}

body {
    background-color: variables.$main-background-color;
    padding: 15% 5%;
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    overflow-x: hidden;

    p {
        font-size: 0.8em;
    }

    @include mixins.tablet {
        p {
            font-size: 1.2em;
        }
    }

    @include mixins.large-tablet {
        p {
            font-size: 1.3em;
        }
    }

    @include mixins.desktop {
        padding: 0;
    }
}

header {
    @include mixins.flex-center;
    flex-direction: column;
    margin-bottom: 5%;
    height: 9em;
    background-image: url('../images/pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    h2 {
        color: variables.$text-cta-background-color;
        margin-bottom: 1%;
        font-size: 1.3em;

        @include mixins.tablet {
            font-size: 2em;
        }

        @include mixins.large-tablet {
            font-size: 2.3em;
        }
    }

    p {
        width: 50%;

        @include mixins.large-tablet {
            width: 45%;
        }
    }
}

.card {
    @include mixins.container;

    padding:8% 3%;
    background-color: white;
    // box-shadow: 0px 0px 10px variables.$empty-sliderbar-color;
    border-radius: 10px;

    &-pageviews {
        h3 {
            font-size: 0.8em;
            text-transform: uppercase;
            letter-spacing: 2px;

            @include mixins.large-tablet {
                font-size: 1.1em;
            }
        }

        &-slider {
            margin: 8% 0;
            -webkit-appearance: none;
            appearance: none;
            width: 90%;
            height: 0.5rem;
            border-radius: 20px;
            background: linear-gradient(to right, variables.$full-sliderbar-color, 50%, variables.$empty-sliderbar-color 50%);
            outline: none;
            opacity: 0.7;
            transition: opacity .2s;
            cursor: pointer;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 2.5rem;
                height: 2.5rem;
                background: url('../images/icon-slider.svg') no-repeat center center;
                background-color: variables.$text-color;
                border-radius: 50%;
                box-shadow: 2px 2px 5px variables.$text-color;

                @include mixins.large-tablet {
                    width: 3rem;
                    height: 3rem;
                }
            }

            &:hover {
                opacity: 1;
            }

            @include mixins.large-tablet {
                width: 80%;
            }
        }

        p {
            @include mixins.flex-center;

            font-size: 1em;

            span {
                font-size: 2.8em;
                color: variables.$text-cta-background-color;
                font-weight: 800;
                margin-right: 2%;
            }
        }
    }

    .card-discount {
        @include mixins.flex-center;
        margin: 5% 0;
        flex: 1;

        &-switch-container {
            margin: 0 2%;
        }

        #span-discount {
            background-color: variables.$discount-background-color;
            color: red;
            border-radius: 20px;
            padding: .3em .7em;
        }

        #chk {
            display: none;
        }

        #chk:checked~.switch {
            background-color: variables.$text-color;
        }

        #chk:checked~.switch .slider {
            transform: translateX(1.4em);
        }

        .switch {
            position: relative;
            background-color: variables.$toggle-background-color;
            width: 3em;
            height: 1.6em;
            border-radius: 40px;
            display: flex;
            align-items: center;
            padding: 5px;
            transition: all .5s ease-in-out;
            cursor: pointer;

            .slider {
                position: absolute;
                background-color: white;
                border-radius: 50%;
                width: 1em;
                height: 1em;
                transition: all .5s ease-in-out;
            }
        }
    }

    hr {
        height: 0.2em;
        width: 110%;
        margin-left: -4%;
        margin-top: 10%;
        border: 0;
        background-image: linear-gradient(to right, variables.$main-background-color, variables.$main-background-color, variables.$main-background-color);
    }

    &-check {
        margin-top: 8%;

        p {
            margin-top: 2%;
        }

        img {
            margin-right: 2%;
        }
    }

    &-btn {
        border: none;
        border-radius: 25px;
        padding: 4% 15%;
        margin-top: 8%;
        font-size: 1.3em;
        background-color: variables.$text-cta-background-color;
        color: variables.$cta-background-color;
        cursor: pointer;

        &:hover {
            color: white;
        }

        @include mixins.large-tablet {
            font-size: 1.5em;
        }
    } 
}

.attribution {
    font-size: .8em;
    text-align: center;
    margin-top: 5%;

    a {
        color: hsl(228, 45%, 44%);
    }

    @include mixins.tablet {
        font-size: .9em;
    }

    @include mixins.large-tablet {
        font-size: 1em;
    }
}