//elements
$container-max-width: 800px;
//colors
$text-color: hsl(225, 20%, 60%);
$main-background-color: hsl(230, 100%, 99%); 
$full-sliderbar-color: hsl(174, 77%, 80%);
$strong-cyan-color: hsl(174, 86%, 45%);
$discount-background-color: hsl(14, 92%, 95%);
$cta-background-color: hsl(226, 100%, 87%);
$pricing-component-background-color: hsl(0, 0%, 100%);
$empty-sliderbar-color: hsl(224, 65%, 95%);
$toggle-background-color: hsl(223, 50%, 87%);
$text-cta-background-color: hsl(227, 35%, 25%);
